.ComingSoon {
    text-align: center;
}

.ComingSoon-logo {
    height: 40vw;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .ComingSoon-logo {
        animation: ComingSoon-logo-spin infinite 20s linear;
    }
}

.ComingSoon-header {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    max-height: 80vh;
    max-width: 100vw;
    font-size: calc(3vmin);
}

@keyframes ComingSoon-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    background-color: #282c34;
}