ol, ul {
    padding-left: 30px;
    list-style-type: none;
}

.tictac-board-row:after {
    clear: both;
    content: "";
    display: table;
}

.tictac-status {
    margin-bottom: 10px;
}

.tictac-square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.tictac-square:focus {
    outline: none;
}

.kbd-navigation .tictac-square:focus {
    background: #ddd;
}

.tictac {
    display: flex;
    flex-direction: row;
}

.tictac-info {
    margin-left: 20px;
}