.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vh;
}
p.footer {
    font-size : calc(2vmin);
    padding: calc(0.2vmin);
    margin: calc(0.2vmin);
}
.footer-github {
    height: calc(5vmin);
}
.footer-container {
    color: white;
    display: flex;
    flex-direction: column;
    min-height: calc(20vh - 3vh);
    max-height: calc(20vh - 3vh);
    max-width: 100vw;
    align-items: center;
    justify-content: flex-end;
}