body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.secret {
    position: absolute;
    left: calc(100vw - 8vw - 0.25vw); 
    top: 0;
    font-weight: normal;
    font-size: 1.8vw;
    color: #353b46;
    background: #282c34;
    border: 0.25vw solid #353b46;
    width: 8vw;
    aspect-ratio: calc(2 / 1);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}